@model IEnumerable<TripUp.Models.TravelListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TravelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelBuddies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PitStops)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelBuddies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PitStops)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TravelId}) |
            @Html.ActionLink("Details", "Details", new { id=item.TravelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TravelId })
        </td>
    </tr>
}

</table>
