@model IEnumerable<TripUp.Models.TravelListItem>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    <img alt="logo" src="~/Assets/FinalLogo_edited.jpg" />
</div>
<h2>Travel List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="new_item_model">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelBuddies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PitStops)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelBuddies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PitStops)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TravelId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TravelId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TravelId })
                </td>
            </tr>

        }
    </table>
    <div class="row">
        <div class="col-md-6">

            <p><a class="btn btn-default" href="https://localhost:44367/Travel/Create">Create New Travel &raquo;</a></p>
        </div>
        <div class="col-md-6">

            <p><a class="btn btn-default" href="https://localhost:44367/Pack/Create">Create A Pack List &raquo;</a></p>
        </div>
    </div>
 

</div>


